.ui-layout-south {
    //font-size: 60% !important;
}

.ui-layout-north, .ui-layout-west {
    z-index: 20 !important;
    overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content, .ui-layout-west .ui-layout-unit-content {
    overflow: visible !important;
}

//http://download.jqueryui.com/themeroller/images/ui-icons_3175b0_256x240.png
.ui-icon {
    //background-image: url("\#{resource['img/ui-icons_3175b0_256x240.png']}") !important;
}
//http://download.jqueryui.com/themeroller/images/ui-icons_ffffff_256x240.png
.ui-icon.white {
    //background-image: url("\#{resource['img/ui-icons_ffffff_256x240.png']}") !important;
}
.ui-widget, .ui-widget .ui-widget, .ui-wizard-step-title {
    font-size: 90% !important;
    //font-family: 'Play', sans-serif;
}
.ui-widget-header {}
.ui-widget-content {
    //color: #1a68cb !important;
}
.ui-state-default {}
.ui-state-highlight {}
.ui-state-hover {}
.ui-state-active {}

.ui-growl {
    //right: 50px !important;
    //top: 100px !important;
    //z-index: 1030 !important;
}

/* .ui-selectonemenu */
/*
.ui-selectonemenu {}
.ui-selectonemenu .ui-selectonemenu-trigger {
    width: 23px !important;
}
.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: 6px !important;
}
.ui-selectonemenu .ui-selectonemenu-label {
    padding: 0px !important;
}
.ui-selectonemenu .ui-inputfield {
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}
*/