.ui-layout-north, .ui-layout-west {
    z-index: 20 !important;
    overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content, .ui-layout-west .ui-layout-unit-content {
    overflow: visible !important;
}

.ui-widget, .ui-widget .ui-widget, .ui-wizard-step-title {
    font-size: 90% !important;
}
